@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    z-index: 999;
    position: sticky;
    top: 0;
}
header #Nav{
    width: 100%;
    background-color: rgb(245,245,245);
}
header #Nav .container{
    
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0 16px;
}

header #Nav .container .items{
    display: none;
}
header #Nav .container .fa-bars{
    display: none;
    font-size: 1.6rem;
}
header #Nav .container img{
    height: 100%;
}
 #Nav .searchbar{
    width:100%;
    margin: auto 0 auto 0;
    height: 45px;
    max-width: 750px;
    background: white;
    display: flex;
    border-radius: 5px;
    
}
#Nav .searchbar input{
    width: 100%;
    max-width: 750px;
    background: transparent;
    flex: 1;
    border:0;
    outline: none;
    font-size: 15px;
    padding: 0px 20px;

}
#Nav .searchbar button{
    border: none;
    background: transparent;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
#Nav .searchbar button img{
width: 40px;
}

#Nav .reward ul li{
    list-style-type: none;
}
#Nav .reward .menu_bar ul li{
    width: 6%;
    display: none;
    position: absolute;
    margin-top: -3px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
    list-style-type: none;
    color: black;
    border-radius: 5px;
}
#Nav .reward:hover .menu_bar ul li{
    display: block;
}
#Nav .reward .menu_bar1 ul li{
    width: 6%;
    display: none;
    position: absolute;
    margin-top: -3px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
    list-style-type: none;
    color: black;
    border-radius: 5px;
}
#Nav .reward:hover .menu_bar1 ul li{
    display: block;
}

#Nav .reward2{
    margin-top: 50px;
    margin-left:5px;
    text-align: center;
}
#Nav .reward2 ul li{
    list-style-type: none;
}
#Nav .reward2 .menu_bar2 a ul li{
    width: 5%;
    display: none;
    position: absolute;
    margin-top: -20px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    z-index: 999;
    
    color: black;
    border-radius: 5px;
}
#Nav .reward2:hover .menu_bar2 a ul li{
    display: block;
    color: black;
}





.vl {
    border-left: 1px solid black;
    height: 60%;
    margin: auto 8px auto 8px;
  }
  header #Nav .container a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 0 8px;
  }
  header #Nav .container a:hover{
    color: #4070f4;
    text-decoration: underline;
  }
  .slide{
    display: flex;
    justify-content: center;
    
    
  }
 .slideimg{
    margin-top: 15px;
    width: 80%;
    height:35vh;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }
 .slideimg button:nth-child(1){
    position: absolute;
    height: 70px;
    width: 28px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .slideimg button:nth-child(3){
    position: absolute;
    right: 0;
    height: 70px;
    width: 28px;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
 }
 .slideimg img{
    width: 100%;
    height: 100%;
 }

  header #Nav2{
    width: 100%;
    background-color: rgb(254,254,254);
    
}
header #Nav2 .container2{
    align-items: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 16px;
}
header #Nav2 .container2 div:nth-child(2){
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0 16px;
    margin-right: 100px;
}
header #Nav2 .container2 div:nth-child(3){
    
    text-align: center;
    margin-left: 100px;
}
header #Nav2 .container2 ul{
    display: flex;
}
header #Nav2 .container2 ul li{
    margin: 0 11px 0 11px;
    list-style-type: none;
}
header #Nav2 .container2 ul li a{
    text-decoration: none;
    color: black;
}
header #Nav2 .container2 ul li a:hover{
    color: #4070f4;
    text-decoration: underline;
}
#Nav2 .searchbar2{
    width:100%;
    margin: auto 0 auto 0;
    height: 45px;
    max-width: 750px;
    background: white;
    display: none;
    border-radius: 5px;
    
}
#Nav2 .searchbar2 input{
    width: 100%;
    max-width: 750px;
    background: transparent;
    flex: 1;
    border:0;
    outline: none;
    font-size: 15px;
    padding: 0px 20px;

}
#Nav2 .searchbar2 button{
    border: none;
    background: transparent;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
#Nav2 .searchbar2 button img{
width: 40px;
}

body> .img1{
    position: relative;
    margin: auto;
    width: 80%;
    margin-top: 15px;
}
body .img1 a{
    display: flex;
    justify-content: center;
}
body .img1 a img{
    width: 100%;
    height: 25vh;
}
.img2{
    width:100%;
    margin-top: 15px;
}
.img2>div{
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    justify-content: center;
}
.buittons{
    width: 70%;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    
}
.buittons button{
    
    overflow: hidden;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.buittons button img{
    width:100%;
    height: 400px;
    display: block;
    z-index: 1;
    transition: transform 2s;
}
.buittons button>a{
    color: black;
    text-decoration:none;
}
.buittons button>a div {
    width: 100%;
    overflow: hidden;
}
.buittons button:hover img{
    transform: scale(1.2);
}

.bimg1{
    display: flex;
    justify-content: center;
}
.bimg1 div{
    width: 67%;
    display: flex;
    justify-content: center;
}
.bimg1 div img{
    width: 100%;
}
.bimg2{
    display: flex;
    justify-content: center;
}
.bimg2 div{
    width: 67%;
    display: flex;
    justify-content: center;
}
.bimg2 div img{
    width: 100%;
}
.foot{
    margin-top: 15px;
    display: flex;
    justify-content:center;
}
.foot .footdata{
width: 67%;
}
.foot .footdata h3{
    padding: 5px 0 10px 0;
}
.foot .footdata p{
    padding: 10px 0 5px 0;
}
.foot .footdata .tranding button{
width: 150px;
height: 35px;
border: 1px solid gray;
border-radius: none;
background:transparent;
margin: 15px 5px 10px 5px;
}
.foot .footdata .tranding button:hover{
    background:rgb(245,245,245);
}
footer{
    display: flex;
    justify-content: center;
}
footer .footers{
    width: 67%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
footer .footers div{
    display: inline-block;
}
footer .footers div a{
    color: black;
    padding: 0px 0 20px 0;
    text-decoration: none;
}
footer .footers div a:hover{
    color: #4070f4;
    text-decoration: underline;
}
.vl2 {
    border-left: 1px solid black;
    height: 100%;
    margin: auto 8px auto 8px;
  }
.connect{
    margin: 15px 0 15px 0;
    display:flex;
    justify-content: center;
    
}
.connect .uil{
    font-size: 1.6rem;
    color: black;
}


@media screen and (max-width:1425px) and (min-width:1120px){
    #Nav .searchbar{
        width:100%;
        margin: auto 0 auto 0;
        height: 45px;
        max-width: 450px;
        background: white;
        display: flex;
        border-radius: 5px;
        
    }
    header #Nav2 .container2 ul li{
        margin: 0 6px 0 6px;
        list-style-type: none;
    }
    header #Nav2 .container2 div:nth-child(2){
        margin-right: 0px;
    }
    header #Nav2 .container2 div:nth-child(3){
        display: flex;
        text-align: center;
        margin-left: 0px;
    }
    .buittons{
        grid-template-columns: repeat(2,1fr);
    }
    footer .footers{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer .footers div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer .footers div>img{
        width: 50%;
    }
}
@media screen and (max-width:1120px) and (min-width:675px){
    header #Nav .container{
        display: flex;
        justify-content: space-between;
    }
    #Nav .searchbar{
       display: none;
        
    }
    header #Nav2 .container2 div:nth-child(2){
        display: none;
    }
    header #Nav2 .container2 div:nth-child(3){
        display: none;
    }
    header #Nav2 .container2{
        height: 50px;
    }
    #Nav2 .searchbar2{
        border: 1px solid black;
        width: 90%;
        height: 40px;
        display: flex;
    }
    .buittons{
        width: 50%;
        grid-template-columns: repeat(1,1fr);
    }
    footer .footers{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer .footers div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer .footers div>img{
        width: 50%;
    }
}
@media screen and (max-width:675px){
    header #Nav .container .fa-bars{
        display: flex;
    }
    header #Nav .container{
        display: flex;
        justify-content: space-between;
    }
    header #Nav .container .login{
    display: none;
    }
    #Nav .searchbar{
       display: none;
        
    }
    header #Nav2 .container2 div:nth-child(2){
        display: none;
    }
    header #Nav2 .container2 div:nth-child(3){
        display: none;
    }
    header #Nav2 .container2{
        height: 50px;
    }
    #Nav2 .searchbar2{
        width: 90%;
        height: 40px;
        display: flex;
    }
    .buittons{
        width: 50%;
        grid-template-columns: repeat(1,1fr);
    }
    footer .footers{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer .footers div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer .footers div>img{
        width: 50%;
    }
    header #Nav .container .items{
        display: grid;
        position: absolute;
        background-color: rgb(245,245,245);
        width: 50%;
        top: 55px;
        left: 0;
        transform: translateX(-100%);
        z-index: 1;
        transition: 0.6s;
    }
    header #Nav .container .items .signup{
        display: flex;
        justify-content: center;
    }
    header #Nav .container .items ul li{
        list-style-type: none;
        padding: 10px 0 5px 35px;
    }
    header #Nav .container .items ul .uil{
        font-size: 1.6rem;
        position: absolute;
        right: 0;
    }
    header #Nav .container .navbartoggle{

    }
}
